/*JAD'S NOTES TO SELF: 
	COLOR PALLET: Glacier Grey - #C5C6C7, Purple Grey - #786F80 or rgb(120, 111, 128), Dark Purple Grey - rgb(72, 67, 77), Cyan - #009097, Light Blue - lightblue*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h1, h3 {
    font-weight: normal;
    font-family: "Century Gothic";
    margin: 10px;
    padding: 10px;
	transform: scalex(1.5);
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
h1 {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	color: lightblue;
}
.JadContentStyle {
    font-family: "Century Gothic";
    padding: 0;
	color: white;
	text-align: center;
	font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.JadStyle {
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}
.Background {
    position: relative;
    z-index: 0;
}
.Background::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('MAP1.png');
    background-position: center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}
#NavigationBar {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#NavigationBar .Left, #NavigationBar .Right {
    display: flex;
    align-items: center;
}
#NavigationBar .Left {
    flex: 1;
    justify-content: space-evenly;
}
#NavigationBar .Right {
    flex: 1;
    justify-content: space-evenly;
}
#NavigationBar .RightLeft {
    flex: 5;
	display: grid;
    place-items: center;
}
#NavigationBar .RightRight {
    flex: 2;
    justify-content: flex-end;
}
#NavigationBar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.6s, text-shadow 0.6s;
	padding: 10px 20px;
}
#NavigationBar a:hover, .MusicSegment:hover {
    color: lightblue;
    text-shadow: 0 0 10px lightblue, 0 0 20px lightblue;
}
button {
    background: none;
    border: none;
	cursor: pointer;
    padding: 0 5px 0 5px;
	transition: filter 0.6s;
}
button:hover {
	filter: drop-shadow(0 0 10px lightblue) drop-shadow(0 0 5px lightblue) brightness(3.5) saturate(2);
}
#SettingsList {
    position: relative;
    display: inline-block;
}
.SettingsOptionsClass {
    display: none;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(72, 67, 77, 0.8);
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
    overflow: hidden;
    transition: height 0.3s ease;
}
#SongTimeline {
    width: 90%;
    height: 10px;
    background: #786F80;
    border-radius: 5px;
    margin-top: 10px;
	overflow: hidden;
}
#SongTimeline p {
	font-size: 7.5px;
	transform-origin: left;
	transform: scalex(2.5);
	position: absolute;
	text-shadow: 0 0 5px black;
	overflow: hidden;
}
#SongProgress {
    height: 100%;
    width: 0%;
    background-color: lightblue;
    transition: width 0.5s ease;
}
#Synopsis { 
	background-color: rgba(0, 0, 0, 0.5); 
	border-radius: 20px;
	width: 100%;
	display: grid;
    place-items: center;
	margin-bottom: 10px;
}
#Structure { 
	background-color: rgba(0, 0, 0, 0.5); 
	border-radius: 20px;
	width: 100%;
	display: grid;
    place-items: center;
	margin: 10px 0 10px 0;
}
#CharacterInfo { 
	background-color: rgba(0, 0, 0, 0.5); 
	border-radius: 20px;
	width: 100%;
	display: grid;
    place-items: center;
	margin: 10px 0 10px 0;
}
#CharacterChart {
	margin: 10px 0 10px 0;
}
.ChartRows {
	display: flex;
	justify-content: center;
}
.Characters {
	background-color: rgba(120, 111, 128, 0.8);
	border-radius: 20px;
	padding: 15px 15px 0 15px;
	margin: 25px 75px 25px 75px;
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}
.CharacterIcons {
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	transition: all 0.6s ease-in-out;
}
.Sprites {
	position: absolute;
    top: 50%;
    left: 50%;
	opacity: 0;
	transform: translate(-50%, -75%);
	transition: all 0.6s ease-in-out;
	z-index: 2;
}
#Jad:hover .CharacterIcons {
	transform: translateY(-5%);
    filter: brightness(0.5);
	box-shadow: 0 4px 8px lightblue;
}
#Jad:hover .Sprites {
	transform: translate(-50%, -125%);
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    opacity: 1;
}
#Playlist { 
	background-color: rgba(0, 0, 0, 0.5); 
	border-radius: 20px;
	width: 100%;
	display: grid;
    place-items: center;
	margin: 10px 0 10px 0;
}
#PlaylistContainer {
	background-color: rgba(72, 67, 77, 0.8);
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 75px auto;
}
.MusicSegment {
    background-color: rgba(120, 111, 128, 0.8);
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
}
.MusicSegment:hover {
    transform: translateX(-5%);
    background-color: rgba(120, 111, 128, 1);
    height: 75px;
    color: lightblue;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.MusicTitle {
    position: absolute;
	left: 50%;
	transform: translateX(-50%);
    transition: left 0.6s ease-in-out, transform 0.6s ease-in-out;
}
.MusicDescription {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: auto;
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.MusicSegment:hover .MusicTitle {
    left: 20px;
	transform: translateX(0);
}
.MusicSegment:hover .MusicDescription {
    bottom: 22.5px;
    opacity: 1;
}
